html {
    scroll-behavior: smooth;
}

body {
    background-color: #2B2B2B;
    color: #A9B7C6;
    font-family: 'JetBrains Mono', monospace;
}

/* Extra small screen */
@media only screen and (max-width: 699px) {
    #main-container {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    #left-panel {
        position: fixed;
        background-color: #2B2B2B;
        width: 100vw;
        border-bottom: #9876AA solid 3px;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    header {
        margin-top: 80px;
        font-size: .5em;
        text-align: center;
    }

    h1 {
        margin-bottom: 3px;
    }

    menu {
        padding: 0px;
        font-size: 15px;
        margin: 5px;
    }

    nav {
        margin-top: 10px;
        text-align: center;
    }

    #logo-pic {
        height: 80px;
        border: solid #9876AA 2px;
        border-radius: 10px;
        display: none;
    }

    main h3{
        text-align: center;
        margin-bottom: 20px;
    }

    main p {
        font-size: .7em;
    }

    main a {
        font-size: 1em;
    }

    h4 {
        font-size: .9em;
    }

    banner > header {
        border-bottom: #9876AA solid 3px;
    }

    #Projects, #ContactInfo {
        /* margin-bottom: 0px; */
        margin-top: 60px;
    }

}
  
/* Medium devices and larger devices*/
@media only screen and (min-width: 700px) {
    #main-container {
        display: flex;
        height: 100vh;
        margin-top: 0px;

    }

    #left-panel {
        display: block;
        position: fixed;
        border-right: solid #9876AA 4px; 
        padding-right: 10px;
        height: 200vh;
        width: 25vw;
    }

    #right-panel {
        padding-left: 10px;
        height: 200vh;
        margin-left: 26vw;
    }

    menu {
        list-style-type: none;
        text-align: center;
        padding: 0px;
        font-size: .8em;
    }

    #logo-pic {
        border-radius: 200px;
        max-width: 100%;
        height: auto;     
    }

    #nav-img {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 1.8em;
        
    }

    h3 {
        font-size: 1.5em;
    }

    menu li {
        font-weight: bold;
    }

    header {
        display: block;
        position: fixed;
        background-color: #2B2B2B;
    }

    main {
        margin-top: 40vh;
    }

    #Projects, #ContactInfo {
        margin-top: 100px;
    }

}



@media only screen and (min-width: 760px) {
    main {
        margin-top: 45vh;
    }
}

@media only screen and (min-width: 950px) {
    main {
        margin-top: 35vh;
    }
}

@media only screen and (min-width: 1050px) {
    main {
        margin-top: 30vh;
    }
}


@media only screen and (min-width: 1250px) {
    #left-panel {
        display: block;
        position: fixed;
        width: 25vw;
        height: 300vh;
    }

    #right-panel {
        width: 75vw;
        height: 300vh;
        margin-left: 26vw;
    }

    main {
        display: flex;
        flex-direction: column;
    }
    

    #nav-img {
        display: flex;
        justify-content: center;
    }

    #logo-pic {
        max-width: 100%;
        height: auto;  
    }

    h1 {
        font-size: 2.5em;
    }
    
    h3{
        font-size: 2.5em;
    }

    h4 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    #Projects a {
        font-size: 1.5em;
    }

    menu {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }

    #Projects, #ContactInfo {
        margin-top: 200px;
    }
}


menu li {
    list-style-type: none;
}

menu a {
    color: #A9B7C6;
    text-decoration: none;
}

nav > a {
    color: #A9B7C6;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#keyword-orange {
    color: #CB772F;
}

#string-green {
    color: #619647;
}

#class-purp {
    color: #9876AA;
}


main a {
    color: #A9B7C6;
    text-decoration: none;
}

main > a:hover {
    text-decoration: underline;
}



main p {
    margin: 0px;
}

main h4 {
    margin: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#Projects p {
    margin-bottom: 25px;
}

   
