html {
    scroll-behavior: smooth;
}

body {
    background-color: #2B2B2B;
    color: #A9B7C6;
    font-family: 'JetBrains Mono', monospace;
}

/* Extra small screen */
@media only screen and (max-width: 767px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    header {
        font-size: .5em;
        text-align: center;
    }

    menu {
        padding: 0px;
        font-size: 15px;
        margin: 5px;
        
        /* width: ; */
    }

    nav {
        text-align: center;
    }

    #logo-pic {
        height: 80px;
        border: solid #9876AA 2px;
        border-radius: 10px;
        display: none;
    }

    main h3{
        text-align: center;
        margin-bottom: 20px;
    }

    main p, a {
        font-size: .7em;
    }

    h4 {
        font-size: .9em;
    }

}
  
/* Medium devices*/
@media only screen and (min-width: 768px) {
    #main-container {
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-areas:
            "banner banner"
    }

    banner {
        grid-area: banner;
        display: grid;
        grid-template-columns: 20vw 80vw;
        grid-template-areas: 
            "pic header";
    }

    menu {
        justify-content: left;
        list-style-type: none;
        padding: 0px;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "about-me about-me about-me"
            "projects projects projects"
            "contact-info contact-info contact-info";
    }

    #logo-pic {
        height: 13em;
        width: auto;
        border: solid #9876AA 2px;
        border-radius: 10px;
        
    }

}
  
/* Large devices*/
@media only screen and (min-width: 992px) {

}
  
/* Extra large devices*/
@media only screen and (min-width: 1200px) {
}

#logo-pic {
    grid-area: pic;
}

banner > header {
    grid-area: header;
}

menu li {
    list-style-type: none;
}

menu a {
    color: #9eb3c2;
}

#AboutMe {
    grid-area: about-me;
}

#Projects {
    grid-area: projects;
}

#ContactInfo {
    grid-area: contact-info;
}

nav > a {
    color: #9eb3c2;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

#keyword-orange {
    color: #CB772F;
}

#string-green {
    color: #619647;
}

#class-purp {
    color: #9876AA;
}


main a {
    color: #9eb3c2;
    text-decoration: none;
}

main > a:hover {
    text-decoration: underline;
}

main h3 {
    /* margin-bottom: 0px; */
    margin-top: 40px;
}

main p {
    margin: 0px;
}

main h4 {
    margin: 2px;
    margin-top: 20px;
}

   
